<div class="access">
  <div class="access__form rounded-box">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),  html: { class: "form" }) do |f| %>
      <h2 class="form__heading">Sign up</h2>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-field">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
      </div>

      <div class="form-field">
        <%= f.label :password, class: "form-label" %>
        <% if @minimum_password_length %>
          <span class="form-help"><em>(<%= @minimum_password_length %> characters minimum)</em></span>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-input" %>
      </div>

      <div class="form-field">
        <%= f.label :password_confirmation, class: "form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input" %>
      </div>

      <%= f.submit "Sign up", :class => "btn btn--cta" %>
    <% end %>

  </div>
  <div class="access__register">
    <%= render "devise/shared/links" %>
  </div>
</div>
