<h1>Dashboard view</h1>

<%= @foodbank.email %>

<%= link_to "Edit profile", edit_user_registration_path %>

<h2>Urgent</h2>
<ul style="padding: 10px; background: #fafafa;" id="urgent" class="connected" data-url="<%= sort_shopping_list_item_index_path %>">
    <% @foodbank.urgent.each do |s| %>
        <li id="<%= s.food.id %>" tabindex="0">
            <%= s.food.name %>
        </li>
    <% end %>
</ul>

<h2>Needed</h2>
<ul style="padding: 10px; background: #fafafa;" id="needed" class="connected" data-url="<%= sort_shopping_list_item_index_path %>">
    <% @foodbank.needed.each do |s| %>
        <li id="<%= s.food.id %>">
            <%= s.food.name %>
        </li>
    <% end %>
</ul>

<h2>Unsorted</h2>
<ul style="padding: 10px; background: #fafafa;" id="unsorted" class="connected" data-url="<%= sort_shopping_list_item_index_path %>">
    <% @foodbank.unsorted.each do |f| %>
        <li id="<%= f.id %>" >
            <%= f.name %>
        </li>
    <% end %>
</ul>