<h1>Dashboard view</h1>

<%= @foodbank.email %>


<h2>Needed</h2>
<ul style="padding: 10px; background: #fafafa;" id="needed" class="connected" data-url="<%= %>">
    <% @foodbank.shopping_list_items.each do |f| %>
        <li>
            <%= f.food.name %>
        </li>
    <% end %>
</ul>

<h2>Unsorted</h2>
<ul style="padding: 10px; background: #fafafa;" id="unsorted" class="connected" data-url="<%= %>">
    <% @foods.each do |f| %>
        <li>
            <%= f.name %>
        </li>
    <% end %>
</ul>