<h1>Home page</h1>

<h2>
  <% if @results %>
    Choose a foodbank
  <% else %>
    Where are you?
  <% end %>
</h2>

<% if @results %>
  <ul>
    <% @results.each do |r| %>
      <li>
        <%= link_to r.name, foodbank_path(r) %>
        <%= r.rough_distance %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with url: root_path, method: :get, local: true do |f| %>
  <%= f.label :postcode, "Enter a town or city" %>
  <%= f.text_field :postcode, value: params[:postcode], required: :true %>
  <%= f.submit "See nearest foodbanks" %>
<% end %>

<%= form_with url: root_path, method: :get, local: true do |f| %>
  <%= f.hidden_field :lat, value: params[:lat], id: "lat" %>
  <%= f.hidden_field :lng, value: params[:lng], id: "lng" %>
  <button onclick="getCurrentLocation(event)">Use current location</button>
<% end %>

Are you a food bank? <%= link_to "Register for free", new_user_registration_path %>