<h1>Home page</h1>

Enter your postcode...

<%= cookies[:foodbank].to_yaml %>

<% if @results %>
  <ul>
    <% @results.each do |r| %>
      <li>
        <%= link_to r.email, foodbank_path(r) %>
        <%= r.address %>
        <%= r.lat %>
        <%= r.lng %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with url: root_path, method: :get, local: true do |form| %>
  <%= form.text_field :postcode %>
<% end %>



Are you a food bank? <%= link_to "Register here", new_user_registration_path %>