<!DOCTYPE html>
<html>
  <head>
    <title>Foodbanks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="site-header">
      <div class="site-header__inner">
        <span class="logo">Foodbank</span>
        <nav class="site-nav">
            <%= link_to "Home", root_path, class: "site-nav__link inline-link" %>
            <%= link_to "About the project", "https://tory-toolkit.github.io/", class: "site-nav__link inline-link" %>
          <% if user_signed_in? %>
            <%= link_to "Foodbank dashboard", user_root_path, class: "site-nav__link inline-link"%>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "site-nav__link inline-link" %>
          <% else %>
            <%= link_to "Sign in", new_user_session_path, class: "site-nav__link inline-link" %>
            <%= link_to "Register", new_user_registration_path, class: "site-nav__link inline-link" %>
          <% end %>
        </nav>
      </div>
    </header>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
