<!DOCTYPE html>
<html>
  <head>
    <title>Foodbanks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to "Home", root_path %>
    <% if foodbank_signed_in? %>
      <%= link_to "Foodbank dashboard", foodbank_root_path %>
      <%= link_to "Sign out", destroy_foodbank_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in", new_foodbank_session_path %>
      <%= link_to "Register", new_foodbank_registration_path %>
    <% end %>

    <hr/>

    <%= yield %>
  </body>
</html>
